                             <div class="card card-car bg-light w-100">
                                    <div class="card-header text-muted border-bottom-0 text-capitalize title">
                                        <b> {{ entity.marque }} {{ entity.modele}} </b> {{ entity.libelle}}
                                    </div>
                                    <div class="card-body pl-0 pr-0 pt-0 pb-0">
                                        <div class="d-flex">

                                            <div class="col-5 text-left image-block pl-0 media">
                                              <router-link :to="'voitures/'+entity.id" class="media-link">
                                                <img src="/img/default.jpg" alt="" class="img-fluid" height="190">
                                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                              </router-link>
                                            </div>
                                            <div class="col-7 pt-2 pb-2 pl-0 pr-0 position-relative">
                                                <h2 class="lead tarif pl-3"><b>{{ new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(entity.tarif )}} </b> <span class="details">F cfa / Jour</span></h2>
                                                  <div class="block-info">
                                                      <div class="bc-info clearfix">
                                                          <ul class="info clearfix pl-0">
                                                              <li>
                                                                  <div class="text-uppercase">{{ entity.type_motorisation }}</div>
                                                              </li>
                                                              <li>
                                                                  <div class="text-uppercase">{{ entity.kilometrage }} Km</div>
                                                              </li>
                                                              <li>
                                                                  <div class="text-uppercase">{{ entity.annee_mise_en_circulation }}</div>
                                                              </li>
                                                              <li>
                                                                  <div class="text-uppercase">{{ entity.boite_vitesse }} </div>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer pl-1 pr-1">
                                        <div class="float-left">
                                            <a @click.prevent="onAction" class="btn btn-sm  btn-outline-success">
                                                <i class="fas fa-key mr-2"></i>  Mettre  en location
                                            </a>
                                        </div>
                                        <div class="float-right">
                                            <router-link :to="'voitures/'+entity.id" class="btn btn-sm  btn-outline-secondary">
                                                <i class="fas fa-eye mr-2"></i> Voir la fiche
                                            </router-link>
                                            <!-- <a @click.prevent="onAction"  class="btn btn-sm  btn-outline-secondary">
                                                <i class="fas fa-edit mr-2"></i> Modifier
                                            </a> -->
                                            <a @click.prevent="remove(entity)" class="btn btn-sm  btn-outline-danger">
                                                <i class="fas fa-trash "></i> 
                                            </a>
                                        </div>
                                    </div>
                             </div>