<template>
    <div class="ml-2 mr-2">
        <b-modal @close="beforeModalCloses" :scrollable="true"  @hidden="reset" :hide-footer="true"   ref="inputModal" id="my-modal" :title="title"  :centered="true">
        <form class="" method="POST"  @submit.prevent="onSubmit()"  @reset.prevent="reset()" @keydown=" updateFormErrors($event.target.name)" @change="updateFormErrors($event.target.name)">

                                <div class="">
                                    <croppa
                                        ref="cropper" 
                                        @image-remove="onRemoveAvatar"
                                        canvas-color="transparent"
                                        initial-size="cover"
                                        @initial-image-loaded="onInitialImageLoaded"
                                        :quality="2"
                                        :zoom-speed="7"
                                        :placeholder-font-size="16"
                                        :height="224"
                                        :width="498"
                                        placeholder="Chargez ou déposer l'image de la voiture"
                                        :initial-image=" entity ? ( entity.hasPhoto ?'/storage/images/'+entity.image_mise_en_avant: null) : null"
                                        @draw="updateImage"
                                        @loading-end="updateDraw"
                                        @file-size-exceed="onFileSizeExceed"
                                        :file-size-limit="5024000"
                                        @file-choose="onFileChosen"
                                        @file-type-mismatch="onFileTypeMismatch"





                                    ></croppa>
                        <div class="btns  row w-100 pt-1 pb-1">
                            <p class="col mb-0">
                            <button v-show="isImageSet" class="btn btn-md btn-secondary ml-4" @click.prevent="zoomIn()"><i class="fas fa-search-plus"></i></button>
                            <button v-show="isImageSet" class="btn btn-md btn-secondary mr-4"  @click.prevent="zoomOut()"><i class="fas fa-search-minus"></i></button>
                            <button v-show="isImageSet" class="btn btn-md btn-secondary mr-4" @click.prevent="rotateLeft()"><i class="fas fa-undo"></i></button>
                            <button v-show="isImageSet" class="btn btn-md btn-secondary " @click.prevent="rotateRight()"><i class="fas fa-redo"></i></button>
                            </p>
                            <p class="col mb-0" v-show="isImageSet || entity.image_mise_en_avant">
                                <button type="submit" class="btn  btn-primary btn-block " ><i class=""></i> Enregistrer</button>
                            </p>

                        </div>
                                </div>
                                    
        </form>
        </b-modal>
    </div>
</template>

<script>
  import _  from 'lodash'
//component code

   import Form from "./../../classes/Form"
    export default {
        data()
        {
            return{

                cropper:undefined,
                isLoading:false,
                hasProfile:false,
                justTosayNo:false,
                imageProfileIsLoading:false,
                imageGalleryIsLoading:false,
                FileIsLoading:false,
                filesAdded:[],
                modeEdit:false,
                modeles : [],
                entity:'',
                FileLimit:4,
                fileType:"",
                isMounted:false,
                oldImageUpdated:false,
                fileOperationCounter:0,
  

                form : new Form(
                    {
                        //1
                        image_mise_en_avant:"",
                        updated:false,
                        vehicule_id:""
                  }),

            }
        },
        computed:
         {

           setTitle: function()
            {
               return this.title +=" : Areddd"
            },
            title ()
            {
            return "Modification de l'image"
            },
            ModalAction ()
            {
            return  this.modeEdit ? " Modifier"  : " Ajouter"
            },
            isImageSet()
            {
            return this.cropper !=undefined ? this.cropper.imageSet : false;
            },
             avatarMustBeUpdated()
            {
                var check = false

                if(!this.modeEdit)
                {
                 check = false
                console.log('STEP 1')
                }
                else if(isDefined(this.form.image_mise_en_avant) && isDefined(this.form.old_image))
                {
                        if(this.form.image_mise_en_avant != this.form.old_image)
                        {
                            check = true
                             console.log('STEP 2 1')
                        }
                        else
                        {
                            check = false
                            console.log('STEP 2 2')
                        }
                }
               else if(isDefined(this.form.image_mise_en_avant) && !isDefined(this.form.old_image))
                {
                        if(this.entity.hasPhoto==false)
                        {
                            check = true
                            console.log('STEP 3 1')
                        }
                        else
                        {
                            console.log('STEP 3 2')
                            check = false
                        }
                        

                }
                else if(!isDefined(this.form.image_mise_en_avant) && isDefined(this.form.old_image))
                {
                        if(this.entity.hasPhoto==true)
                        {
                            check = true
                            console.log('STEP 4 1')
                        }
                        else
                        {
                            console.log('STEP 4 2')
                            check = false
                        }
                        

                }
                else
                {
                  check = false
                  console.log('Console STEP 5')

                }
                this.form.image_mise_en_avantMustBeUpdated = check

                return check;
            },
        },
        created()
        {
          // this.fetchOptions()
        },
        mounted()
         {
                console.log(this.$refs.cropper )

             //les options sont chargées
             this.isMounted = true;
            window.event.$on('change-images-event',(e) => {
                this.modeEdit = true
                  this.entity = e
                  this.showModal()
                  
            })
            

        },
        methods:
        {
            beforeModalCloses()
            {
                
                this.$refs.cropper.remove();
               
            },
            clearAll () {
            this.selectedCountries = []
            },
            zoomIn()
            {
            this.$refs.cropper.zoomIn()
            },
            zoomOut()
            {
            this.$refs.cropper.zoomOut()
            },
            rotateLeft()
            {
            this.$refs.cropper.rotate(-1)
            },
            rotateRight()
            {
            this.$refs.cropper.rotate()
            },
            onInitialImageLoaded()
            {
             // this.form.old_image = this.$refs.cropper.generateDataUrl(this.fileType)
            },
            updateDraw()
            {
               //this.form.old_image = this.form.image_mise_en_avant
               console.log('DRAW')
               var temp=this.$refs.cropper.generateDataUrl(this.fileType)
               this.form.image_mise_en_avant =temp;

            },
            updateImage()
            {
               var temp=this.$refs.cropper.generateDataUrl(this.fileType)
               this.$forceUpdate()
                if(this.cropper==undefined)
                {
                    this.cropper = this.$refs.cropper
                }
               this.form.image_mise_en_avant =temp;
               this.fileOperationCounter++;
            },
            onFileTypeMismatch (file) {
                alert('Type de fichier invalide. Please choose a jpeg or png file.')
            },
            onFileChosen (file)
            {
                this.fileType = file.type
            },
            onRemoveAvatar()
            {
                this.form.image_mise_en_avant = ""
            },
            onFileSizeExceed (file) {
                alert('File size exceeds. Please choose a file smaller than 100kb.')
            },
            updateFormErrors(name)
            {
                if(this.form.errors.any()==true)
                {
                    //on retire l erreur
                    this.form.errors.clear(name)
                    //on verifie s il  n ya plus d erreurs
                    if(this.form.errors.any()==false)
                    {
                        this.$refs.wizard.tabs[this.form.step].validationError = null
                    }
                }

            },

          onSubmit()
           {

                    this.isLoading = true ;
                    this.form.updated = (this.fileOperationCounter>1) ? true : false
                    //Requête ajax
                    this.form.patch("/api/vehicules/"+this.entity.id+"/updateImages").then((response) =>
                        {
                            if(response.success)
                            {
                                  if(response.updated)
                                  {
                                    window.event.$emit('profile-updated-event',response.entity)
                                    flash("<span>Image principale<strong> a été modifiée</strong></span>","success") 
                                  }

                            }
                            else
                            {
                             flash("<span>Ajout<strong> Une erreur s'est produite</strong></span>","error")
                            }

                           this.reset()
                           this.isLoading = false ;

                        },
                        (error) =>
                        {
                            this.isLoading = false
                        });
           },

             //Retire l'image des
            removeImage(index)
            {
               this.form.images.splice(index,1)

            },
            //Charge les images de la galerie
       
            showModal()
             {

                this.$refs['inputModal'].show()
                this.$forceUpdate()

             },
             showModalOnEdit(entity)
             {
                  this.modeEdit = true
                  this.form.nom_commercial = entity.nom_commercial
                  this.form.id=entity.id
                  this.$refs['inputModal'].show()
             },
              reset()
             {
    
               this.$refs['inputModal'].hide()
             },
        },
        components:
         {
         },
         watch:
         {
             "form.avatar" : function(value,old)
             {
                if(this.modeEdit)
                 {
                   console.log("avatar has changed")
                   if(this.entity.hasPhoto && this.oldImageUpdated == false)
                   {
                       this.form.old_image = value
                       this.oldImageUpdated=true
                       console.log("avatar OLD has changed")
                   }
                 }
             }
         }

    }
</script>
<style lang="scss" scoped>
.croppa-container {
      height: 224px;
    width: 498px;
   
}

.croppa-container canvas{
    border: dashed 2px #7f8386;

   
}
.croppa-container .icon-remove{
 position: absolute;
     top: calc(25% + 15px) !important;
    right: 0px !important;
    width: 30px;
    height: 30px;
    cursor: pointer;
   
}
.modal-body {

    padding: 0rem;
}
</style>
