<template>
    <div class="">
              <!-- Modal dbt -->
              <b-modal @hidden="reset"  ref="inputModal" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                               @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                       <div class="form-group ">
                            <label class="">Date de facturation</label>
                            <vc-date-picker @input="datepickerEvent($event,'date_facturation')" is-expanded  single-date-="single" name="date_facturation" :class="['', form.errors.has('date_facturation')? ' is-invalid' : '']" v-model="date_facturation" type="text"></vc-date-picker>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('date_facturation')" v-text="form.errors.get('date_facturation')"></span>
                        </div>
                        <div class="form-group ">
                            <label class="">Description de la dépense</label>
                            <input :class="['form-control form-control-sm', form.errors.has('description')? ' is-invalid' : '']" name="description" v-model="form.description" type="text"/>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('description')" v-text="form.errors.get('description')"></span>
                        </div>
                        <div class="form-group ">
                            <label class="">Montant</label>
                            <input :class="['form-control form-control-sm', form.errors.has('montant')? ' is-invalid' : '']" name="montant" v-model="form.montant" type="text"/>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('montant')" v-text="form.errors.get('montant')"></span>
                        </div>

                        <div class="form-group ">
                            <label class="">Vehicule concernée</label>
                            <select :class="['form-control form-control-sm', form.errors.has('vehicule_id')? ' is-invalid' : '']" id="datetimepicker6" name="vehicule_id" v-model="form.vehicule_id">
                                        <option value="" selected>choisissez le véhicule</option>
                                        <option v-for="vehicule in options.vehicules" :key="vehicule.id" :value="vehicule.id" selected >{{ vehicule.title}}</option>
                            </select>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('vehicule_id')" v-text="form.errors.get('vehicule_id')"></span>
                        </div>
                        <div class="form-group ">
                            <label class="">Type de la dépense</label>
                            <select :class="['form-control form-control-sm', form.errors.has('type_depense_id')? ' is-invalid' : '']" name="type_depense_id" v-model="form.type_depense_id">
                                        <option value="" selected>Choisissez le type de dépense</option>
                                        <option v-for="tdepense in options.tdepenses" :key="tdepense.id" :value="tdepense.id" selected >{{ tdepense.libelle}}</option>
                            </select>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('type_depense_id')" v-text="form.errors.get('type_depense_id')"></span>
                        </div>
                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
														<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading ">{{ isLoading ? "Processus en cours..." : ModalAction }}</button>
											</div>
               </form>
            </b-modal>
            <!-- Modal fin -->
    </div>
</template>

<script>

   import Form from "./../../classes/Form"
    export default {
       props:
       {
          myVehicule:
          {
            type:Object,
            default:null
          }
       },
        data(){
            return{
                modeEdit:false,
                date_facturation:"",
                vehicule :"",
                tdepense :"",
                isLoading:false,
                options:
                {
                  vehicules:[],
                  tdepenses:[]
                },
                form : new Form(
                  {
                    description:"",
                    montant:'',
                    vehicule_id:"",
                    type_depense_id:"",
                    date_facturation:""
                })
            }
        },
        created()
        {
          this.fetchOptions()
 
        },
        mounted() {
                window.event.$on('show-modal-for-adding-depense', () =>
                {
                       this.showModalOnCreate()
                } )
                window.event.$on('show-modal-for-updating-depense', (entity) =>
                {
                       this.modeEdit = true
                       this.showModalOnEdit(entity)
                } )

                this.vehicule = (this.myVehicule != null && this.myVehicule  != undefined) ? this.myVehicule : ""
        },
        computed:
        {
            ModalTitle ()
            {
              return  this.modeEdit ? " Modification d'une dépense"  : " Ajout d'une dépense"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Modifier"  : " Ajouter"
            }
        },
        methods: 
        {
                          //Event sur le date picker
                datepickerEvent(event,name)
                {
                  console.log(event)
                    if(name=="date_facturation")
                    {
                      
                        this.form.date_facturation = moment(event).format('YYYY-MM-DD')
                        this.form.checkError(name)

                    }
                },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un nouveau
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("api/depenses").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$emit("add-depense-event")
                  flash("<span>Enregistré <strong>avec succès</strong></span>")

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("api/depenses/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                   this.$emit("update-depense-event")
                  //on affiche le message 
                  flash("<span>Modifié <strong>avec succès</strong></span>")
                  this.reset()

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.modeEdit = false
                this.reset()
                this.$refs['inputModal'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset()
                this.modeEdit = true
                this.form.description = entity.description
                this.form.montant =entity.montant
                this.form.vehicule_id=entity.vehicule_id
                this.form.type_depense_id=entity.type_depense_id
                this.form.date_facturation=entity.date_facturation
                this.form.id=entity.id
                this.date_facturation = moment(entity.date_facturation).toDate()
                this.$refs['inputModal'].show()
             },
              //Initialisation du formulaire
              reset()
             {
                  this.form.reset();
                  this.$refs['inputModal'].hide()
                  this.modeEdit = false
                  this.date_facturation = ""
                  this.isLoading = false
             },
             //get options
             fetchOptions()
             {
               axios.get("/api/dispatcher/options/depenses").then((response) => 
                { 
                    
                      this.options.vehicules= response.data.vehicules
                      this.options.tdepenses = response.data.tdepenses

                      
                      //envoie un event pour signifier le chargement des options
                      this.$emit('initOption');
                      this.pageInit =true
                },
                (error) =>
                {
                  this.isLoading = false
                });
             }
              
        },
        components:
        {
        }
    }
</script>