    /*
    Flaticon icon font: Flaticon
    Creation date: 31/07/2018 08:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./flat-icon/garage/Flaticon.eot");
  src: url("./flat-icon/garage/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./flat-icon/garage/Flaticon.woff") format("woff"),
       url("./flat-icon/garage/Flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./flat-icon/garage/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-wheel:before { content: "\f100"; }
.flaticon-002-suspension:before { content: "\f101"; }
.flaticon-003-mirror:before { content: "\f102"; }
.flaticon-004-cross-wrench:before { content: "\f103"; }
.flaticon-005-car-wash:before { content: "\f104"; }
.flaticon-006-gearshift-1:before { content: "\f105"; }
.flaticon-007-motor:before { content: "\f106"; }
.flaticon-008-pistons:before { content: "\f107"; }
.flaticon-009-steering-wheel:before { content: "\f108"; }
.flaticon-010-oil:before { content: "\f109"; }
.flaticon-011-pliers:before { content: "\f10a"; }
.flaticon-012-car-repair:before { content: "\f10b"; }
.flaticon-013-airbag:before { content: "\f10c"; }
.flaticon-014-air-filter:before { content: "\f10d"; }
.flaticon-015-funnel:before { content: "\f10e"; }
.flaticon-016-air-pump:before { content: "\f10f"; }
.flaticon-017-disc-brake:before { content: "\f110"; }
.flaticon-018-elevator:before { content: "\f111"; }
.flaticon-019-repair:before { content: "\f112"; }
.flaticon-020-gas-pump:before { content: "\f113"; }
.flaticon-021-pulley:before { content: "\f114"; }
.flaticon-022-aerosol:before { content: "\f115"; }
.flaticon-023-gearshift:before { content: "\f116"; }
.flaticon-024-pedals:before { content: "\f117"; }
.flaticon-025-exhaust-pipe:before { content: "\f118"; }
.flaticon-026-spark:before { content: "\f119"; }
.flaticon-027-timing-belt:before { content: "\f11a"; }
.flaticon-028-garage:before { content: "\f11b"; }
.flaticon-029-key:before { content: "\f11c"; }
.flaticon-030-gas-fuel:before { content: "\f11d"; }
.flaticon-031-car-lights:before { content: "\f11e"; }
.flaticon-032-repairing:before { content: "\f11f"; }
.flaticon-033-seat-belt:before { content: "\f120"; }
.flaticon-034-radiator:before { content: "\f121"; }
.flaticon-035-car-oil:before { content: "\f122"; }
.flaticon-036-battery:before { content: "\f123"; }
.flaticon-037-gear:before { content: "\f124"; }
.flaticon-038-car-painting:before { content: "\f125"; }
.flaticon-039-damage:before { content: "\f126"; }
.flaticon-040-wheels:before { content: "\f127"; }
.flaticon-041-windshield:before { content: "\f128"; }
.flaticon-042-cone:before { content: "\f129"; }
.flaticon-043-voltmeter:before { content: "\f12a"; }
.flaticon-044-toolbox:before { content: "\f12b"; }
.flaticon-045-chassis:before { content: "\f12c"; }
.flaticon-046-damper:before { content: "\f12d"; }
.flaticon-047-pressure:before { content: "\f12e"; }
.flaticon-048-car-door:before { content: "\f12f"; }
.flaticon-049-tachometer:before { content: "\f130"; }
.flaticon-050-digital-map:before { content: "\f131"; }
    
    $font-Flaticon-001-wheel: "\f100";
    $font-Flaticon-002-suspension: "\f101";
    $font-Flaticon-003-mirror: "\f102";
    $font-Flaticon-004-cross-wrench: "\f103";
    $font-Flaticon-005-car-wash: "\f104";
    $font-Flaticon-006-gearshift-1: "\f105";
    $font-Flaticon-007-motor: "\f106";
    $font-Flaticon-008-pistons: "\f107";
    $font-Flaticon-009-steering-wheel: "\f108";
    $font-Flaticon-010-oil: "\f109";
    $font-Flaticon-011-pliers: "\f10a";
    $font-Flaticon-012-car-repair: "\f10b";
    $font-Flaticon-013-airbag: "\f10c";
    $font-Flaticon-014-air-filter: "\f10d";
    $font-Flaticon-015-funnel: "\f10e";
    $font-Flaticon-016-air-pump: "\f10f";
    $font-Flaticon-017-disc-brake: "\f110";
    $font-Flaticon-018-elevator: "\f111";
    $font-Flaticon-019-repair: "\f112";
    $font-Flaticon-020-gas-pump: "\f113";
    $font-Flaticon-021-pulley: "\f114";
    $font-Flaticon-022-aerosol: "\f115";
    $font-Flaticon-023-gearshift: "\f116";
    $font-Flaticon-024-pedals: "\f117";
    $font-Flaticon-025-exhaust-pipe: "\f118";
    $font-Flaticon-026-spark: "\f119";
    $font-Flaticon-027-timing-belt: "\f11a";
    $font-Flaticon-028-garage: "\f11b";
    $font-Flaticon-029-key: "\f11c";
    $font-Flaticon-030-gas-fuel: "\f11d";
    $font-Flaticon-031-car-lights: "\f11e";
    $font-Flaticon-032-repairing: "\f11f";
    $font-Flaticon-033-seat-belt: "\f120";
    $font-Flaticon-034-radiator: "\f121";
    $font-Flaticon-035-car-oil: "\f122";
    $font-Flaticon-036-battery: "\f123";
    $font-Flaticon-037-gear: "\f124";
    $font-Flaticon-038-car-painting: "\f125";
    $font-Flaticon-039-damage: "\f126";
    $font-Flaticon-040-wheels: "\f127";
    $font-Flaticon-041-windshield: "\f128";
    $font-Flaticon-042-cone: "\f129";
    $font-Flaticon-043-voltmeter: "\f12a";
    $font-Flaticon-044-toolbox: "\f12b";
    $font-Flaticon-045-chassis: "\f12c";
    $font-Flaticon-046-damper: "\f12d";
    $font-Flaticon-047-pressure: "\f12e";
    $font-Flaticon-048-car-door: "\f12f";
    $font-Flaticon-049-tachometer: "\f130";
    $font-Flaticon-050-digital-map: "\f131";