	/*
  	Flaticon icon font: Flaticon
  	Creation date: 31/07/2018 08:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-wheel:before { content: "\f100"; }
.flaticon-002-suspension:before { content: "\f101"; }
.flaticon-003-mirror:before { content: "\f102"; }
.flaticon-004-cross-wrench:before { content: "\f103"; }
.flaticon-005-car-wash:before { content: "\f104"; }
.flaticon-006-gearshift-1:before { content: "\f105"; }
.flaticon-007-motor:before { content: "\f106"; }
.flaticon-008-pistons:before { content: "\f107"; }
.flaticon-009-steering-wheel:before { content: "\f108"; }
.flaticon-010-oil:before { content: "\f109"; }
.flaticon-011-pliers:before { content: "\f10a"; }
.flaticon-012-car-repair:before { content: "\f10b"; }
.flaticon-013-airbag:before { content: "\f10c"; }
.flaticon-014-air-filter:before { content: "\f10d"; }
.flaticon-015-funnel:before { content: "\f10e"; }
.flaticon-016-air-pump:before { content: "\f10f"; }
.flaticon-017-disc-brake:before { content: "\f110"; }
.flaticon-018-elevator:before { content: "\f111"; }
.flaticon-019-repair:before { content: "\f112"; }
.flaticon-020-gas-pump:before { content: "\f113"; }
.flaticon-021-pulley:before { content: "\f114"; }
.flaticon-022-aerosol:before { content: "\f115"; }
.flaticon-023-gearshift:before { content: "\f116"; }
.flaticon-024-pedals:before { content: "\f117"; }
.flaticon-025-exhaust-pipe:before { content: "\f118"; }
.flaticon-026-spark:before { content: "\f119"; }
.flaticon-027-timing-belt:before { content: "\f11a"; }
.flaticon-028-garage:before { content: "\f11b"; }
.flaticon-029-key:before { content: "\f11c"; }
.flaticon-030-gas-fuel:before { content: "\f11d"; }
.flaticon-031-car-lights:before { content: "\f11e"; }
.flaticon-032-repairing:before { content: "\f11f"; }
.flaticon-033-seat-belt:before { content: "\f120"; }
.flaticon-034-radiator:before { content: "\f121"; }
.flaticon-035-car-oil:before { content: "\f122"; }
.flaticon-036-battery:before { content: "\f123"; }
.flaticon-037-gear:before { content: "\f124"; }
.flaticon-038-car-painting:before { content: "\f125"; }
.flaticon-039-damage:before { content: "\f126"; }
.flaticon-040-wheels:before { content: "\f127"; }
.flaticon-041-windshield:before { content: "\f128"; }
.flaticon-042-cone:before { content: "\f129"; }
.flaticon-043-voltmeter:before { content: "\f12a"; }
.flaticon-044-toolbox:before { content: "\f12b"; }
.flaticon-045-chassis:before { content: "\f12c"; }
.flaticon-046-damper:before { content: "\f12d"; }
.flaticon-047-pressure:before { content: "\f12e"; }
.flaticon-048-car-door:before { content: "\f12f"; }
.flaticon-049-tachometer:before { content: "\f130"; }
.flaticon-050-digital-map:before { content: "\f131"; }