<template>
<div class="carder promoting-carder mb-4 mr-2  ">

  <!-- carder content -->
  <div class="carder-body carder-header-custom d-flex flex-row">

    <!-- Avatar -->

    <!-- Content -->
    <div>

      <!-- Title -->
      <h4 class="carder-title font-weight-bold mb-2 text-uppercase">{{ vehicule.libelle}}</h4>
      <!-- Subtitle -->
      <p class="carder-text text-uppercase"><i class="far fa-id-card pr-2"></i>{{ vehicule.plaque_immatriculation}}</p>

    </div>

  </div>

  <!-- carder image -->
  <div class="view overlay">
    <img height="200" :src="'/storage/images/'+(vehicule.image_mise_en_avant==null ? 'default.jpg' : vehicule.image_mise_en_avant)" alt="" class="carder-img-top rounded-0" >

    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- carder content -->
  <div class="carder-body">

    <div class="collapse-content">

      <!-- Text -->
      <p class="carder-text collapse show" id="collapseContent">
          <table class="w-100">
              <tr>
                  <td>
                        <p class="text-muted text-sm caracteristique d-flex justify-content-between">
                                    <span class="caracteristique-item">
                                   <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 128 128" width="512" height="512"><path d="M64,16.921A47.079,47.079,0,1,0,111.079,64,47.132,47.132,0,0,0,64,16.921Zm0,90.658A43.579,43.579,0,1,1,107.579,64,43.628,43.628,0,0,1,64,107.579Z"/><path d="M90.768,37.559a1.157,1.157,0,0,0-.327-.327,37.569,37.569,0,0,0-52.882,0,1.157,1.157,0,0,0-.327.327,37.571,37.571,0,0,0,0,52.882,1.778,1.778,0,0,0,.147.18,1.7,1.7,0,0,0,.181.148,37.889,37.889,0,0,0,5.154,4.261,1.734,1.734,0,0,0,.338.235,37.562,37.562,0,0,0,41.852.028,1.685,1.685,0,0,0,.4-.273,37.829,37.829,0,0,0,5.14-4.251,1.7,1.7,0,0,0,.181-.148,1.778,1.778,0,0,0,.147-.18,37.571,37.571,0,0,0,0-52.882ZM94.75,65.75H98.1a34.012,34.012,0,0,1-8.764,21.114L86.98,84.506a1.75,1.75,0,1,0-2.474,2.475l2.358,2.358a34.486,34.486,0,0,1-2.818,2.281,37.5,37.5,0,0,0-40.092,0,34.486,34.486,0,0,1-2.818-2.281l2.358-2.358a1.75,1.75,0,1,0-2.474-2.475l-2.359,2.358A34.012,34.012,0,0,1,29.9,65.75H33.25a1.75,1.75,0,0,0,0-3.5H29.9a34.012,34.012,0,0,1,8.764-21.114l2.359,2.358a1.75,1.75,0,1,0,2.474-2.475l-2.358-2.358A34.013,34.013,0,0,1,62.25,29.9V33.25a1.75,1.75,0,0,0,3.5,0V29.9a34.013,34.013,0,0,1,21.114,8.765l-2.358,2.358a1.75,1.75,0,0,0,2.474,2.475l2.359-2.358A34.012,34.012,0,0,1,98.1,62.25H94.75a1.75,1.75,0,0,0,0,3.5ZM47.22,93.723a34.129,34.129,0,0,1,33.56,0,34.028,34.028,0,0,1-33.56,0Z"/><path d="M64,39.375a1.75,1.75,0,0,0-1.711,1.382C57.479,63.14,57.479,63.765,57.479,64a6.521,6.521,0,0,0,13.042,0c0-.235,0-.86-4.81-23.243A1.75,1.75,0,0,0,64,39.375ZM64,67.02a3.025,3.025,0,0,1-3.02-2.935c.152-1,1.567-7.754,3.02-14.588,1.453,6.834,2.868,13.584,3.02,14.588A3.025,3.025,0,0,1,64,67.02Z"/></svg>

                     
                                    Année:
                                    <span class="value">{{ vehicule.date_mise_en_circulation | toYear}} </span>
                                    </span>  
                                </p>
                  </td>
                  <td>
                        <p class="text-muted text-sm caracteristique d-flex justify-content-between">
                                    <span class="caracteristique-item">
                                   <svg id="Layer_1" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m35.442 55.622h38.267a1.75 1.75 0 0 0 1.75-1.75v-27.632a1.75 1.75 0 0 0 -1.75-1.75h-38.267a1.75 1.75 0 0 0 -1.75 1.75v27.632a1.75 1.75 0 0 0 1.75 1.75zm1.75-27.632h34.767v24.132h-34.767z"/><path d="m54.576 95.888a14 14 0 1 0 -14-14 14.017 14.017 0 0 0 14 14zm0-24.5a10.5 10.5 0 1 1 -10.5 10.5 10.512 10.512 0 0 1 10.5-10.5z"/><path d="m54.576 89.536a6.156 6.156 0 0 0 6.149-6.148c0-2.87-3.7-7.277-4.839-8.559a1.808 1.808 0 0 0 -2.621 0c-1.135 1.282-4.838 5.689-4.838 8.559a6.156 6.156 0 0 0 6.149 6.148zm0-10.794c1.419 1.845 2.649 3.847 2.649 4.646a2.649 2.649 0 0 1 -5.3 0c.002-.797 1.233-2.8 2.651-4.646z"/><path d="m99.11 35.193v-3.207a1.342 1.342 0 0 1 .475-1.026l2.888-2.448a1.75 1.75 0 0 0 -2.264-2.67l-2.887 2.448a4.837 4.837 0 0 0 -1.712 3.7v1.569a14.072 14.072 0 0 0 -4.122-.617h-.609a1.75 1.75 0 0 0 -1.75 1.75v17.434a1.75 1.75 0 0 0 1.75 1.75h4.731v33.44a4.434 4.434 0 0 1 -8.868 0 7.181 7.181 0 0 0 -6.9-7.164v-16.96h2.318a1.75 1.75 0 0 0 1.75-1.75v-42.771a1.75 1.75 0 0 0 -1.75-1.75h-55.168a1.75 1.75 0 0 0 -1.75 1.75v42.771a1.75 1.75 0 0 0 1.75 1.75h2.319v37.591a8.758 8.758 0 0 0 -6.9 8.546 1.75 1.75 0 0 0 1.75 1.75h60.831a1.75 1.75 0 0 0 1.75-1.75 8.758 8.758 0 0 0 -6.9-8.546v-17.117a3.671 3.671 0 0 1 3.4 3.65 7.934 7.934 0 0 0 15.868 0v-33.44h4.731a1.75 1.75 0 0 0 1.75-1.75v-5.085a14.1 14.1 0 0 0 -6.481-11.848zm-70.368-14.772h51.667v39.271h-51.667zm47.6 42.771v37.391h-43.531v-37.391zm6.6 44.387h-56.733a5.256 5.256 0 0 1 4.946-3.5h46.845a5.254 5.254 0 0 1 4.942 3.5zm19.149-57.2h-9.462v-13.879a10.619 10.619 0 0 1 9.462 10.543z"/>
                                  </svg>
                     
                                    <span class="value">{{ vehicule.type_motorisation ? vehicule.type_motorisation.libelle : "Inconnu"}} </span>
                                    </span>  
                                </p>
                  </td>
                  <td>
                                <p class="text-muted text-sm caracteristique d-flex justify-content-between">
                                    <span class="caracteristique-item">
                                        <svg class="porte" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 480 480" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M436.288,192.976L278.464,35.152C256.008,12.569,225.448-0.09,193.6,0H72C49.92,0.027,32.027,17.92,32,40v432
                                                    c0,4.418,3.582,8,8,8h235.504c20.492-0.001,39.347-11.194,49.16-29.184c21.679-39.783,54.369-72.473,94.152-94.152
                                                    c17.99-9.813,29.183-28.668,29.184-49.16v-86.248C448.03,210.644,443.813,200.46,436.288,192.976z M432,307.504
                                                    c0.001,14.64-7.995,28.111-20.848,35.12c-42.483,23.14-77.388,58.045-100.528,100.528c-7.01,12.853-20.48,20.849-35.12,20.848H48
                                                    V40c0-13.255,10.745-24,24-24h121.6c27.599-0.075,54.082,10.895,73.544,30.464l157.832,157.824
                                                    c4.483,4.511,7.007,10.608,7.024,16.968V307.504z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M397.656,202.344L253.088,57.776C236.622,41.218,214.216,31.937,190.864,32H88c-13.255,0-24,10.745-24,24v152
                                                    c0,4.418,3.582,8,8,8h320c3.235,0.001,6.153-1.947,7.392-4.936C400.631,208.074,399.945,204.632,397.656,202.344z M272,200H80V56
                                                    c0-4.418,3.582-8,8-8h102.864c19.106-0.052,37.439,7.541,50.912,21.088L272,99.312V200z M288,200v-84.688L372.688,200H288z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M376,240h-48c-13.255,0-24,10.745-24,24c0,13.255,10.745,24,24,24h48c13.255,0,24-10.745,24-24
                                                    C400,250.746,389.255,240,376,240z M376,272h-48c-4.418,0-8-3.582-8-8s3.582-8,8-8h48c4.418,0,8,3.582,8,8S380.418,272,376,272z"
                                                    />
                                            </g>
                                        </g>

                                       </svg>
                     
                                    <span class="value">{{ vehicule.nbr_porte }} </span>
                                    </span>  
                                </p>
                  </td>
              </tr>
                            <tr>
                  <td>
                        <p class="text-muted text-sm caracteristique d-flex justify-content-between">
                                    <span class="caracteristique-item">
<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 128 128" width="512" height="512"><path d="M103.772,103.2,98.237,64.189A6.942,6.942,0,0,0,91.4,58.25H71.133l.051-1.329h4.233a1.75,1.75,0,0,0,1.75-1.75V53.489a28.151,28.151,0,0,1,2.5-12.013A17.278,17.278,0,0,0,63.2,16.938,17.312,17.312,0,0,0,46.722,33.847,17.075,17.075,0,0,0,48.075,40.9a32.386,32.386,0,0,1,2.758,12.593v1.679a1.75,1.75,0,0,0,1.75,1.75h4.233l.051,1.329H36.6a6.942,6.942,0,0,0-6.841,5.939L27.421,80.695a1.767,1.767,0,0,0-.056.4l-.79,5.566a1.745,1.745,0,0,0-.089.524c0,.02.006.039.006.059l-.763,5.379a1.736,1.736,0,0,0-.118.617c0,.043.01.082.013.124l-1.4,9.839a6.909,6.909,0,0,0,6.841,7.881H96.931a6.909,6.909,0,0,0,6.841-7.881ZM57.751,81.192A1.751,1.751,0,0,0,59.5,82.875h9a1.751,1.751,0,0,0,1.749-1.683l.595-15.442h1.125a7.414,7.414,0,0,1,7.406,7.406V89.094A7.414,7.414,0,0,1,71.969,96.5H56.031a7.414,7.414,0,0,1-7.406-7.406V73.156a7.414,7.414,0,0,1,7.406-7.406h1.125ZM51.3,39.534a13.612,13.612,0,0,1-1.076-5.617A13.975,13.975,0,0,1,63.359,20.435,13.769,13.769,0,0,1,76.5,39.993a31.6,31.6,0,0,0-2.831,13.428H54.333A35.867,35.867,0,0,0,51.3,39.534ZM67.681,56.921l-.865,22.454H61.184l-.865-22.454ZM99.506,106.4a3.408,3.408,0,0,1-2.575,1.175H31.069a3.412,3.412,0,0,1-3.377-3.889l1.236-8.7h5.947a1.75,1.75,0,1,0,0-3.5H29.424l.363-2.555H35.75a1.75,1.75,0,0,0,0-3.5H30.284l.362-2.555h5.979a1.75,1.75,0,0,0,0-3.5H31.143l.362-2.555h6a1.75,1.75,0,0,0,0-3.5H32l1.226-8.638A3.426,3.426,0,0,1,36.6,61.75H57l.02.5h-.991A10.919,10.919,0,0,0,45.125,73.156V89.094A10.919,10.919,0,0,0,56.031,100H71.969A10.919,10.919,0,0,0,82.875,89.094V73.156A10.919,10.919,0,0,0,71.969,62.25h-.991l.02-.5H91.4a3.426,3.426,0,0,1,3.376,2.932l5.536,39.008A3.41,3.41,0,0,1,99.506,106.4Z"/><path d="M61.963,22.56c-7.875,2.112-8.829,8.848-8.865,9.134a1.744,1.744,0,0,0,1.5,1.95,1.909,1.909,0,0,0,.237.015,1.758,1.758,0,0,0,1.733-1.5c.028-.192.75-4.724,6.3-6.214a1.75,1.75,0,1,0-.907-3.38Z"/></svg>
                     
                                    <span class="value">{{ vehicule.boite_vitesse}} </span>
                                    </span>  
                                </p>
                  </td>
                  <td>
                        <p class="text-muted text-sm caracteristique d-flex justify-content-between">
                                    <span class="caracteristique-item">
<svg version="1.1" class="Capa_1 mr-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
<g>
	<g>
		<path d="M72,272c-22.091,0-40,17.909-40,40c0,22.091,17.909,40,40,40s40-17.909,40-40C111.974,289.92,94.08,272.026,72,272z
			 M72,336c-13.255,0-24-10.745-24-24s10.745-24,24-24s24,10.745,24,24S85.255,336,72,336z"/>
	</g>
</g>
<g>
	<g>
		<rect x="128" y="432" width="16" height="16"/>
	</g>
</g>
<g>
	<g>
		<rect x="96" y="432" width="16" height="16"/>
	</g>
</g>
<g>
	<g>
		<rect x="64" y="432" width="16" height="16"/>
	</g>
</g>
<g>
	<g>
		<rect x="368" y="64" width="16" height="16"/>
	</g>
</g>
<g>
	<g>
		<rect x="336" y="80" width="16" height="16"/>
	</g>
</g>
<g>
	<g>
		<path d="M472,0H280c-4.418,0-8,3.582-8,8v48H104c-3.89,0.001-7.215,2.8-7.88,6.632L65.272,240H56v-56c0-4.418-3.582-8-8-8H8
			c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8h32v16c-22.08,0.026-39.974,17.92-40,40v64c0.024,19.001,13.389,35.373,32,39.2V472
			c0,4.418,3.582,8,8,8h128c4.418,0,8-3.582,8-8v-88h168v64c0,17.673,14.327,32,32,32c17.673,0,32-14.327,32-32V224h32
			c22.08-0.026,39.974-17.92,40-40V8C480,3.582,476.418,0,472,0z M110.728,72H272v24H136c-3.908,0.001-7.243,2.826-7.888,6.68
			L105.224,240H81.512L110.728,72z M16,208v-16h24v16H16z M160,464H48v-80h16v32h16v-32h16v32h16v-32h16v32h16v-32h16V464z M344,336
			H144v-16h200V336z M344,304H144v-16h200V304z M344,272H136c-4.418,0-8,3.582-8,8v64c0,4.418,3.582,8,8,8h208v16H40
			c-13.255,0-24-10.745-24-24v-64c0-13.255,10.745-24,24-24h304V272z M344,240H121.44l21.336-128H272v72
			c0.026,22.08,17.92,39.974,40,40h32V240z M464,184c0,13.255-10.745,24-24,24h-40c-4.418,0-8,3.582-8,8v232c0,8.837-7.163,16-16,16
			s-16-7.163-16-16V216c0-4.418-3.582-8-8-8h-40c-13.255,0-24-10.745-24-24v-40h176V184z M464,128H288V16h16v88h16V16h16v48h16V16
			h16v32h16V16h16v88h16V16h16v72h16V16h16V128z"/>
	</g>
</g>
</svg>                                 
                     
                                    <span class="value">{{ vehicule.couleur}} </span>
                                    </span>  
                                </p>
                  </td>
                  <td>
                                <p class="text-muted text-sm caracteristique d-flex justify-content-between">
                                    <span class="caracteristique-item">
                                    <svg class="porte" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m80.228 91.546h-19.163l-3.357-16.163a11.686 11.686 0 0 0 -4.978-7.383 8.2 8.2 0 0 1 -3.494-5.18l-1.647-7.932a10.3 10.3 0 0 0 -11.556-8.106l-.47-2.268 2.171-.451a1.75 1.75 0 0 0 1.359-2.063l-2.678-12.9a14.5 14.5 0 0 0 -17.146-11.246l-.955.2a1.751 1.751 0 0 0 -1.357 2.069l5.271 25.377a1.747 1.747 0 0 0 2.072 1.356l2.173-.451.471 2.265a8.607 8.607 0 0 0 -6.144 10.03l5.72 27.543a9.325 9.325 0 0 0 1.434 17.784v4.5a1.749 1.749 0 0 0 1.75 1.75h64.671a1.749 1.749 0 0 0 1.75-1.75v-1.081a15.916 15.916 0 0 0 -15.897-15.9zm-59.483-70.4a11 11 0 0 1 12.242 8.664l2.323 11.19-2.166.45h-.006-.006l-7.832 1.623zm11.39 24.08.464 2.237-2.236.465-.463-2.234zm-3.948 6.729 1.168-.243h.006l5.657-1.175 1.075-.224a6.816 6.816 0 0 1 8.06 5.288l1.648 7.932a11.676 11.676 0 0 0 4.977 7.38 8.2 8.2 0 0 1 3.503 5.187l3.209 15.446h-18.843a9.34 9.34 0 0 0 -8.687-5.963l-5.731-27.592a5.108 5.108 0 0 1 3.958-6.033zm-4.066 42.962a5.833 5.833 0 1 1 5.833 5.833 5.84 5.84 0 0 1 -5.833-5.833zm7.335 11.857v-2.656a9.336 9.336 0 0 0 7.825-9.072h20.342.017.029 20.559a12.412 12.412 0 0 1 12.379 11.728z"/><path d="m73.153 73.49a20.453 20.453 0 1 0 -20.453-20.452 20.475 20.475 0 0 0 20.453 20.452zm0-37.4a16.953 16.953 0 1 1 -16.953 16.948 16.972 16.972 0 0 1 16.953-16.953z"/><path d="m107.636 68.719-10.158-5.352a1.75 1.75 0 1 0 -1.631 3.1l10.158 5.351a1.73 1.73 0 0 0 .813.2 1.75 1.75 0 0 0 .818-3.3z"/><path d="m109.329 58.357-10.148.027a1.75 1.75 0 0 0 0 3.5h.005l10.148-.027a1.75 1.75 0 0 0 -.005-3.5z"/><path d="m95.59 68.71a1.75 1.75 0 1 0 -2.89 1.971l5.716 8.385a1.75 1.75 0 0 0 2.893-1.97z"/></svg>
                     
                                    <span class="value">{{ vehicule.nbr_place }} </span>
                                    </span>  
                                </p>
                  </td>
              </tr>
          </table>


      </p>
      <!-- Button -->
        <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 " >
           <b style="font-size:20px">{{ new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(vehicule.tarif )}} </b> <span class="details">F cfa / Jour</span>
        </a>
        <router-link :to="'voitures/'+vehicule.id" class=" float-right btn btn-sm ml-2  mt-2 btn-outline-secondary">
            <i class="fas fa-eye "></i> Voir la fiche
        </router-link>
        <!-- <a @click.prevent="onAction"  class="btn btn-sm  btn-outline-secondary">
            <i class="fas fa-edit mr-2"></i> Modifier
        </a> -->
        <a v-if="authorize('can','supprime-location')" @click.prevent="removeEvent(vehicule)" class=" float-right btn btn-sm ml-2 mt-2   btn-danger text-white">
            <i class="fas fa-trash "></i> 
        </a>
    </div>

  </div>

</div>
</template>
<script>
    export default {
        props: ['entity','isSet'],       
         data() {
            return{
                vehicule_est_connu:false,
                vehicule:{
                    libelle: "Wills",
                    marque_id: 5,
                    modele_id: 51,
                    type_vehicule_id: 1,
                    type_permis_id: null,
                    nbr_place: 5,
                    nbr_porte: 5,
                    couleur: "Rouge",
                    image_mise_en_avant: "22-5e6296894e7be.jpeg",
                    tarif: 50000,
                    kilometrage: 23554,
                    plaque_immatriculation: "AZSE-RTDFD-ddd",
                    nr_chassis: "ERDF-ERFFF-FR",
                    date_mise_en_circulation: "2016-02-05",
                    annee_mise_en_circulation: "0000-02-05 00:00:00",
                    consommation_au_100_km: 5.5,
                    type_motorisation_id: 13,
                    boite_vitesse: "automatique",
                    volume_coffre: 100,
                    volume_reservoir: 60,
                    largeur: 2.4,
                    longueur: null,
                    poids: 1290,
                    hauteur: null,
                    created_at: "2020-03-06 18:29:29",
                    updated_at: "2020-03-06 18:29:29",
                    path: "/storage/images/",
                    marque : {},
                    modele : {},
                    marque: {},
                    title: "",
                    modele: {},
                    type_motorisation: {},
                    type_vehicule: {}
                }
            }
            
        },
        mounted() {
            this.vehicule = this.entity
            this.vehicule_est_connu = this.isSet != null ? this.isSet : this.vehicule_est_connu

        },
        computed:
        {
            joursRestant()
            {
                 var jours = 0
                if(this.location.date_fin=="") return jours
                if(this.dateDepassee_ || this.dateEnAttente )
                {
                    jours = 0
                }
                else
                {
                    var end = moment(this.location.date_fin);
                    jours = this.entity.nbr_jour - end.diff(moment(), 'days')
                    console.log(this.entity.nbr_jour,jours)
                }
                return jours
            },
            
             dateDepassee_()
            {
                if(this.location.date_fin=="") return false
                 
                var now = moment();
                var end = moment(this.location.date_fin);
                return now.isAfter(end);
            },
            dateEnAttente()
            {
                if(this.location.date_dbt=="") return false
                 
                var now = moment();
                var start = moment(this.location.date_dbt);
                return now.isBefore(start);
            },
            enCours()
            {
             if(this.location.date_dbt=="") return false
                 
                var now = moment();
                var start = moment(this.location.date_dbt);
                return now.after(start) && this.dateDepassee_==false;
            },
            progression()
            {
                let percent  = 0
                 if(this.dateDepassee_ && this.joursRestant == 0)
                 {
                     percent = 100
                 }
              
                return percent
            },

        },
        methods:
        {
            prolongerEvent(location)
            {
              location.vehicule.marque = this.vehicule.marque
              window.event.$emit('prolongement-event',location)
            },
            removeEvent(vehicule)
            {
              this.$emit('suppression-event',vehicule)
            },
            rentEvent(vehicule)
            {
              this.$emit('location-event',vehicule)
            },
            nowIsOverdue(end)
            {
                var now = moment();
                var end = moment(end);
                return now.isAfter(end);
            },
        }
    }
</script>
<style lang="scss" scoped>
.carder {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.carder {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
        transition-duration: 200ms;
    transition-delay: 1ms;
    transition:  max-width 100ms;
    transition-timing-function: ease;
}
.carder-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.carder-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.carder-header-custom{
//border-bottom: rgb(220,53,69) 2px solid;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
.view img, .view video {
    position: relative;
    display: block;
}

.rounded-0 {
    border-radius: 0 !important;
}
.carder-img, .carder-img-top {

}
.carder-img, .carder-img-top, .carder-img-bottom {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}
.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}
.carder-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}
.carder-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.collapse-content table.collapse:not(.show), .collapse-content p.collapse:not(.show) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.65rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.carder .carder-body .carder-text {
    font-size: .9rem;
    font-weight: 400;
    color: #747373;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-flat {
    font-weight: 500;
    color: inherit;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.collapse-content a.collapsed:after {
    content: "Read More";
}

.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.rgba-white-slight, .rgba-white-slight:after {
    background-color: rgba(255,255,255,0.1);
}

  p.caracteristique  {
    text-transform: uppercase;
    font-size: 0.9rem;
 }
 p.caracteristique svg
 {
      width: 40px;
      height: 40px;
 }
  p.caracteristique svg.porte
 {
      width: 30px;
      height: 30px;
 }
   p.caracteristique svg.Capa_1
 {
      width: 35px;
      height: 35px;
 }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
    .sidebar-collapse .carder
  {
    max-width: 28.5rem;
    .view{
        min-width: 28.3rem;
    }
  }
  .carder
  {
    max-width: 23.8rem;
        .view{
        min-width: 23.7rem;
    }
    p.caracteristique svg {
    width: 38px;
    height: 38px;
    }
     p.caracteristique svg.porte,p.caracteristique svg.Capa_1
    {
        width: 30px !important;
        height: 30px  !important;
    }
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
    //CSS
    .sidebar-collapse .carder
  {
    max-width: 26.5rem;
    .view{
        min-width: 26.4rem;
    }
  }
  .carder
  {
    max-width: 22.4rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
    .sidebar-collapse .carder
  {
    max-width: 31.5rem;
    .view{
        min-width: 30.9rem;
    }
  }
  p.caracteristique 
  {
      font-size: 0.79rem;
  }
  .carder
  {
        max-width: 25.5rem;
    .view{
        min-width: 25.4rem;
    }
        p.caracteristique svg {
    width: 29px;
    height: 29px;
    }
      p.caracteristique 
  {
      font-size: 0.79rem !important;
  }
     p.caracteristique svg.porte,p.caracteristique svg.Capa_1
    {
        width: 24px !important;
        height: 24px  !important;
    }
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
    .carder
  {
    max-width: 24.9rem;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}
</style>