<template>
      
</template>
<script>
    export default {
        data(){
            return{
                form : new Form(
                  {
                    password:"",
                    identity:'',
                }),
                isLoading:false,
            }
        },
        created()
        {

        },
        mounted() {

        },
        computed:
        {

        },
        methods: 
        {
            //Ajoute un role dans la BDD
            onSubmit()
            {
                this.isLoading  = true
                //Requête ajax
                this.form.post("/login").then((value) => 
                {  
                    this.$root.ui()
                    window.location= isDefined(value.path) ? value.path : "/"
                },
                (error) =>
                {
                     this.isLoading = false
                    if(error.status == 500)
                    flash('Une erreur inattendue est survenue','error')
                   
                });                  
            },
            //Initialisation du formulaire
              reset()
            {
                  this.form.reset();
                  this.isLoading = false
            },
        },
        components:
        {

        }
    }
</script>